/*** Variables ***/
:root {
    --std-font-size: 16px;
    --min-padding-size: 4px;
    --min-border-radius: 5px;
}


/*** High-Level Styling ***/

html, body {
    width: 100%;
    min-height: 100%;
    font-size: var(--std-font-size);
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    display: none;
}

span {
    margin: auto;
}

/*** Standard Class Stylings ***/

/* Text */

.text-lg {
    font-size: 1.2rem;
}

.text-md {
    font-size: 1rem;
}

.text-sm {
    font-size: 0.8rem;
}

.text-xs {
    font-size: 0.5rem;
}

.text-centered {
    margin: auto;
    text-align: center;
}

/* Padding */

.p1 {
    padding: var(--min-padding-size);
}

.p2 {
    padding: calc(2 * var(--min-padding-size));
}

.px-1 {
    padding-left: var(--min-padding-size);
    padding-right: var(--min-padding-size);
}

.px-2 {
    padding-left: calc(2 * var(--min-padding-size));
    padding-right: calc(2 * var(--min-padding-size));
}

.pl-1 {
    padding-left: var(--min-padding-size);
}

.pl-2 {
    padding-left: calc(2 * var(--min-padding-size));
}

.pr-1 {
    padding-right: var(--min-padding-size);
}

.pr-2 {
    padding-right: calc(2 * var(--min-padding-size));
}

.py-1 {
    padding-top: var(--min-padding-size);
    padding-bottom: var(--min-padding-size);
}

.py-2 {
    padding-top: calc(2 * var(--min-padding-size));
    padding-bottom: calc(2 * var(--min-padding-size));
}

.pt-1 {
    padding-top: var(--min-padding-size);
}

.pt-2 {
    padding-top: calc(2 * var(--min-padding-size));
}

.pb-1 {
    padding-bottom: var(--min-padding-size);
}

.pb-2 {
    padding-bottom: calc(2 * var(--min-padding-size));
}

/* Margins */

/* Containers */

.rounded-1 {
    border-radius: var(--min-border-radius);
}

.rounded-2 {
    border-radius: calc(2 * var(--min-border-radius));
}

/* ID-specific Styling */

.info-section {
    background-color: #dfdfdf;
}